<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="alert alert-danger d-flex flex-column align-items-center" role="alert">
        <h1 class="alert-heading"><em><%= message.toUpperCase() %></em></h1>
        <h1><%= status %></h1>
        <button type="button" class="btn btn-outline-danger">
        <a
        href="<%= backlink %>"
        class="text-decoration-none d-block text-center alert-link"
        >Back</a>
        </button>
    </div>