<ul class="nav nav-tabs d-flex">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
      >Task</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/task/create">Create Task</a></li>
      <li><a class="dropdown-item" href="/task/mytask">My Task</a></li>
      <li><a class="dropdown-item" href="/task/">Global Task</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
      >User</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/user/info">My Info</a></li>
      <li><a class="dropdown-item" href="/user">All User</a></li>
    </ul>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link" href="/auth/logout">Logout</a>
  </li>
</ul>
